
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
   
                        <li class="nav-item">
                            <button class="btn btn-primary btn-sm" data-target=" #loginModal" data-toggle="modal" id="#loginBtn" style="position: absolute; right: 50px;"> Login</button>
                        </li>

