
<h1>Option</h1>

<div align="center">
    <div>
        <a href="@Url.ActionLink("AddCustomer", "Customer")">  Add New Customer </a>
    </div>

    <div>
        <a href="@Url.ActionLink("DisplayCustomer", "Customer")"> Search Customer</a>
    </div>

</div>